/*
    Paleta de cores

    verde: #49a09d
    Lilás: #5f2c82

*/
 body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    background-image: url(../imagens/pexels.jpg);
}

form {
    background-image: url(../imagens/chuva.jpg);
}